#wrapper {
    position: relative;
    background-image: url("F&C-images/Sand-Background.jpg");
    background-repeat: repeat-y;
    background-size: 40vw;
    left: 0;
    width: 100%;
    overflow: hidden;
}

section {
    display: flex;
    flex-flow: row;
    margin: auto;
}

header {
    width: 40vw;
	text-align: right;
}

.content {
    width: 60vw;
	text-align: center;
}

img {
	margin: 20px;
	max-width: 100%;
}